.row
	.col-lg-offset-1.col-md-10
		= simple_form_for(@invoice, html: { class: 'form' }) do |f|
			.card
				.card-head.style-primary
					%header
						= f.object.new_record? ? "New Invoice" : "Edit Invoice"
				.card-body
					= f.error_notification
					= f.error :base
					- if @errors.present?
						%ul{style: 'list-style:none'}
							.errors{style: 'color:red; text-align:left'}
								- @errors.each do |error|
									%li
										=	"- #{error} \n"
					%br/
					.row
						.col-md-6
							.form-group
								%label.col-sm-2.control-label Customer
								.col-sm-8
									= select_tag :customer_id, options_for_select(Customer.all.map{|c| [c.name, c.id]}, f.object.try(:delivery).try(:order).try(:customer_id)), include_blank: true, class: 'form-control customer_id'
								.col-sm-2
									= link_to "Add Customer", new_customer_path, class: 'btn ink-reaction btn-flat btn-primary' unless Customer.exists?
						.col-md-6
							.form-group
								%label.col-sm-4.control-label Orders
								.col-sm-8
									= select_tag :order_id, options_for_select(@orders.map{|o| [o.order_select_value, o.id]}, f.object.try(:delivery).try(:order).try(:id)), include_blank: true, class: 'form-control order_id'
									= f.hidden_field :delivery_id, value: f.object.delivery_id
					.row
						.col-md-6
							.form-group
								.col-md-8
									#demo-date-format.input-group.date
										.input-group-content
											%input.form-control{:type => "text", name: "invoice[date]", value: f.object.date}/
											%label Invoice Date
										%span.input-group-addon
											%i.fa.fa-calendar
					%br/
					.row
						.invoice-order-items
							- if !f.object.new_record?
								= render partial: 'order_items'
					%br/
					= f.button :submit, "Submit", class: "btn ink-reaction btn-primary btn-accent-modified pull-right delivery-form"