.row
	.col-lg-offset-1.col-md-10
		= simple_form_for(@delivery, html: { class: 'form' }) do |f|
			.card
				.card-head.style-primary
					%header
						= f.object.new_record? ? "New Delivery" : "Edit Delivery"
				.card-body
					= f.error_notification
					- if @errors.present?
						%ul{style: 'list-style:none'}
							.errors{style: 'color:red; text-align:left'}
								- @errors.each do |error|
									%li
										=	"- #{error.first} \n"
					%br/
					.row
						.col-md-6
							.form-group
								%label.col-sm-2.control-label Customer
								.col-sm-8
									= select_tag :customer_id, options_for_select(Customer.all.map{|c| [c.name, c.id]}, f.object.try(:order).try(:customer_id)), include_blank: true, class: 'form-control customer_id'
								.col-sm-2
									= link_to "Add Customer", new_customer_path, class: 'btn ink-reaction btn-flat btn-primary' unless Customer.exists?
						.col-md-6
							.form-group
								%label.col-sm-4.control-label Orders
								.col-sm-8
									= f.input :order_id, as: :select, collection: @orders.map{|o| [o.order_select_value, o.id]}, input_html: { class: 'form-control', selected: f.object.order_id }, label: false
					.row
						.col-md-6
							.form-group
								.col-md-8
									#demo-date-format.input-group.date
										.input-group-content
											%input.form-control{:type => "text", name: "delivery[date_delivered]", value: f.object.date_delivered}/
											%label Date Delivered
										%span.input-group-addon
											%i.fa.fa-calendar
						.col-md-6
							.form-group
								%label.col-sm-4.control-label Payment Type
								.col-md-8
									= f.input :payment_type, as: :select, collection: Delivery::PAYMENT_TYPE.map{|v| [v, v]}, input_html: { class: 'form-control', selected: f.object.payment_type }, label: false
					%br/
					.row
						.order-items
							- if !f.object.new_record?
								= render partial: 'order_items'
					%br/
					= f.button :submit, "Submit", class: "btn ink-reaction btn-primary btn-accent-modified pull-right delivery-form"
:javascript
	$(document).ready(function(){
		$(".delivery-form").click(function(){
			debugger
		})
	});