.panel.panel-default
	.panel-body
		%table.orders-table.table.table-bordered.table-striped.table-responsive.table-hover.no-margin
			%thead
				%tr
					%th
					%th Ordered Quantity
					%th Ordered Weight
					%th Delivery Quantity
					%th Delivery Weight
			%tbody
				- if @delivery.new_record?
					- @delivery.order_items.each do |item|
						%tr
							%td= item.product.title
							%td= item.quantity
							%td= item.weight
							= simple_fields_for "delivery[order_items_attributes[]]", item do |order_item|
								= order_item.hidden_field :order_quantity, value: item.quantity
								= render partial: '/order_items/order_items', locals: { order_item: order_item, product: order_item.object.try(:product)}
				- else
					- @order_items.each do |product_id, order_items|
						%tr
							%td= order_items.first.product.title
							- order_items.each do |item|
								- if item.orderable_type == "Order"
									%td= item.quantity
									%td= item.weight
								- else
									= simple_fields_for "delivery[order_items_attributes[]]", item do |order_item|
										= render partial: '/order_items/order_items', locals: { order_item: order_item, product: order_item.object.try(:product)}					
:javascript
	$('.orders-table').dataTable( {
		"bPaginate": true,
		"bLengthChange": false,
		"bFilter": true,
		"bInfo": false,
		"bAutoWidth": false
	} );