%h1 Listing deliveries

%table
  %thead
    %tr
      %th Order
      %th Date delivered
      %th Payment type
      %th
      %th
      %th

  %tbody
    - @deliveries.each do |delivery|
      %tr
        %td= delivery.order_id
        %td= delivery.date_delivered
        %td= delivery.payment_type
        %td= link_to 'Show', delivery
        %td= link_to 'Edit', edit_delivery_path(delivery)
        %td= link_to 'Destroy', delivery, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Delivery', new_delivery_path
