.row
  .col-lg-offset-1.col-md-10
    = simple_form_for(@customer) do |f|
      .card
        .card-head.style-primary
          %header New Customer
        .card-body
          = f.error_notification
          %br/
          .row
            .col-md-6
              .form-group
                %label.col-sm-4.control-label First Name
                .col-sm-8
                  = f.input :first_name, input_html: { class: 'form-control' }, label: false
            .col-md-6
              .form-group
                %label.col-sm-4.control-label Last Name
                .col-sm-8
                  = f.input :last_name, input_html: { class: 'form-control' }, label: false
          .row
            .col-md-6
              .form-group
                %label.col-sm-4.control-label Street
                .col-sm-8
                  = f.input :street, input_html: { class: 'form-control' }, label: false
            .col-md-6
              .form-group
                %label.col-sm-4.control-label City
                .col-sm-8
                  = f.input :city, input_html: { class: 'form-control' }, label: false
          .row
            .col-md-6
              .form-group
                %label.col-sm-4.control-label State
                .col-sm-8
                  = f.input :state, input_html: { class: 'form-control' }, label: false
            .col-md-6
              .form-group
                %label.col-sm-4.control-label Zip
                .col-sm-8
                  = f.input :zip, input_html: { class: 'form-control' }, label: false
          .row
            .col-md-6
              .form-group
                %label.col-sm-4.control-label Country
                .col-sm-8
                  = f.input :country, as: :string, input_html: { class: 'form-control' }, label: false
            .col-md-6
              .form-group
                %label.col-sm-4.control-label Landline
                .col-sm-8
                  = f.input :landline, input_html: { class: 'form-control' }, label: false
          .row
            .col-md-6
              .form-group
                %label.col-sm-4.control-label Cellphone
                .col-sm-8
                  = f.input :cellphone, input_html: { class: 'form-control' }, label: false
            .col-md-6
              .form-group
                %label.col-sm-4.control-label Email
                .col-sm-8
                  = f.input :email, input_html: { class: 'form-control' }, label: false
        .card-actionbar
          .card-actionbar-row
            = f.button :submit, class: "btn ink-reaction btn-primary btn-accent-modified"
