%h1 Listing Orders

%table.table.table-bordered.table-striped.table-responsive.table-hover.no-margin
  %thead
    %tr
      %th Customer
      %th Address
      %th Contact
      %th Date
      %th Amount Received
      %th{colspan: "3"} Action

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.try(:customer).try(:email)
        %td= order.try(:customer).try(:address)
        %td= order.try(:customer).try(:cellphone)
        %td= order.date.try(:strftime, "%d %B %Y")
        %td= #order.amount_received
        %td
          = link_to order_path(order), class: 'btn ink-reaction btn-icon-toggle btn-primary' do
            %i.fa.fa-eye
          = link_to edit_order_path(order), class: 'btn ink-reaction btn-icon-toggle btn-primary' do
            %i.fa.fa-pencil
          = link_to order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn ink-reaction btn-icon-toggle btn-primary' do
            %i.fa.fa-trash

%br

= link_to 'New Order', new_order_path, class: 'btn ink-reaction btn-accent-modified'
