#login-wraper
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form form-horizontal' }) do |f|
    .body
      %h1
        %i.fa.fa-lock
        Sign in
      .form-group
        .col-xs-12
          .input-group
            %span.input-group-addon
              %i.fa.fa-envelope.fa-fw
            = f.text_field :email, class: 'form-control input-lg', placeholder: 'Email'
      .form-group
        .col-xs-12
          .input-group
            %span.input-group-addon
              %i.fa.fa-key.fa-fw
            = f.password_field :password, class: 'form-control input-lg', placeholder: 'Password'
      - if devise_mapping.rememberable?
        .field.pull-left
          = f.check_box :remember_me
          = f.label :remember_me
      .form-group.formSubmit
        .col-xs-7
        .col-xs-5.submitWrap
          = f.submit "Log in", class: "btn btn-primary btn-md"
      .form-group.formNotice
        .col-xs-12
          = render "devise/shared/links"
:javascript
  $(document).ready(function(){
    $(".alert").fadeOut(5000);
    $(".alert").css('position', 'absolute');
  });
