%td
	= order_item.input :quantity, label: false, input_html: { class: 'quantity', value: order_item.object.try(:quantity) }
	= hidden_field_tag :product_weight, product.try(:weight)
	= hidden_field_tag :product_quantity, product.try(:quantity)
	%span
%td
	= order_item.input :weight, label: false, input_html: { class: 'weight' }
	= order_item.hidden_field :amount, value: order_item.object.amount, class: 'amount'
	= order_item.hidden_field :product_id, value: product.try(:id)
	= order_item.hidden_field :id, value: order_item.object.try(:id) unless order_item.object.try(:new_record?)
- if request.try(:referrer).try(:include?, "deliveries")
	%td.balance
:javascript
	$(document).ready(function(){
		$("table.deliveries-table tr").each(function() {
			var trContainer = $(this);
				if(trContainer.has('td.balance').length > 0){
					var orderQuantity = parseInt(trContainer.find('td.order_quantity').text());
					var quantity = parseInt(trContainer.find('.quantity').val());
					balance = (orderQuantity - quantity);
					trContainer.find('td.balance').html(balance);
				}
		});
	});