#menubar.menubar-inverse
  .menubar-fixed-panel
    %div
      %a.btn.btn-icon-toggle.btn-default.menubar-toggle{"data-toggle" => "menubar", :href => "javascript:void(0);"}
        %i.fa.fa-bars
    .expanded
      %a{:href => root_path}
        %span.text-lg.text-bold.text-primary Produce Management System
  .nano
    .nano-content
      .menubar-scroll-panel
        %ul#main-menu.gui-controls
          %li
            %a{:href => root_path, class: active_class('home')}
              .gui-icon
                %i.fa.fa-home
              %span.title Home
          %li.gui-folder
            %a
              .gui-icon
                %i.fa.fa-product-hunt
              %span.title Product Sales Order
            %ul
              %li
                = link_to product_types_path, class: active_class('product_types') do
                  %span.title Product Types
              %li
                = link_to products_path, class: active_class('products') do
                  %span.title Products
              %li
                = link_to orders_path, class: active_class('orders') do
                  %span.title Orders
              %li
                = link_to deliveries_path, class: active_class('deliveries') do
                  %span.title Delivery
          %li.gui-folder
            %a
              .gui-icon
                %i.fa.fa-user
              %span.title Product Pricing by Customer
            %ul
              %li
                = link_to customers_path, class: active_class('customers') do
                  %span.title Customers
        .menubar-foot-panel
          %small.no-linebreak.hidden-folded
            %span.opacity-75 Copyright © 2014
            %strong ProduceManagementSystem
