<!DOCTYPE html>
<html>
<head>
  <title>ProduceManagementSystem</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: 'layouts/header' %>
	<br/>
	<br/>
	<br/>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<%= render partial: 'layouts/menubar' %>
			</div>
			<div class="col-sm-9">
				<%= yield %>
			</div>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
